<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button 
                      text="Regresar"
                      color="success"
                      defaultHref='/inicio'
      >
      </ion-back-button>
    </ion-buttons>

    <ion-title color="success">Informacion</ion-title>
  </ion-toolbar>
</ion-header>
<!-- ----------------------------------------- -->

<ion-content>

  
  

  <ion-card>
    

     <ion-chip color="success">
      <ion-icon name="book-outline" color="dark"></ion-icon>
      <ion-label>Examen unidad 2</ion-label>
    
    </ion-chip>

    <br>
    <br>
    <br>

    <ion-img src="/assets/desarrollador.jpg"></ion-img>

    <br>
    <ion-item>
      <label class="verde" >Profesor: </label>
      <label for=""> Juan M. Hernandez Martinez</label>
    </ion-item>
    <ion-item>
      <label class="verde" >Materia: </label>
      <label for=""> Desarrollo de aplicaciones para dispositivos moviles</label>
    </ion-item>
    <ion-item>
      <label class="verde" >Unidad: </label>
      <label for=""> 2</label>
    </ion-item>
    <ion-item>
      <label class="verde" >Alumno: </label>
      <label for=""> Leopoldo A. Miranda Gil</label>
    </ion-item>


  </ion-card>


</ion-content>
