<ion-header>
  <ion-toolbar color="dark">
    <ion-title color=success size="default">The doggys</ion-title>
  </ion-toolbar>
</ion-header>
<!-- ----------------------------------------- -->


<ion-content class="backgound-image">


  
  <ion-button shape="round"
              class="tamano"
              expand="block" routerLink="/perros"
              color="success"
              size="default">
    <ion-icon  slot="start" color="dark" name="arrow-redo-outline"></ion-icon>
    Entrar
  </ion-button>

  
  <ion-button shape="round"
              class="tamano2"
              expand="block "routerLink="/api"
              color="success"
              size="default">
    <ion-icon slot="start" color="dark" name="newspaper-outline"></ion-icon>
    API Info.
  </ion-button>


  <ion-button shape="round"
              class="tamano2"
              routerLink="/desarrollador"
              expand="block"
              color="success"
              size="default">
    <ion-icon slot="start" color="dark" name="person-circle-outline"></ion-icon>
    Desarrollador
  </ion-button>

  

  <br>
  <!-- <ion-card color="light">
    La API que se utilizo se encuentra en el sitio web: https://apilist.fun
    dentro de "API categories" en la seccion "Animals" y siendo utilizada: "Dogs"
  </ion-card> -->

</ion-content>
<!-- ----------------------------------------- -->

