ion-content{
    --background:url("/assets/dog.jpeg") no-repeat 100% 100%;
}

.tamano{
    height:50px;
    width: 165px;
    margin: 0 auto;
    margin-top: 145px;
}

.tamano2{
    
    height:50px;
    width: 165px;
    margin: 0 auto;
    margin-top: 65px;

}

